name: Code Quality Checks

on:
  push:
    branches:
      - feat/*
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Call action to install dependencies
        uses: ./.github/actions/deps_install
      - name: Lint code
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Call action to install dependencies
        uses: ./.github/actions/deps_install
      - name: Test code
        id: run-tests
        run: npm run test
      - name: Upload test report
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: test.json
  sonarCloud:
    needs: test
    runs-on: ubuntu-latest
    environment: learning
    steps:
      - name: Get code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Call action to install dependencies
        uses: ./.github/actions/deps_install
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}